/* static/css/styles.css */

body {
    padding-top: 70px; /* Espacio para el menú de navegación */
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.display-4 {
    font-weight: bold;
}

#progress-section, #result-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

pre {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
}

/* Añade un margen inferior a las tarjetas */
.card {
    margin-bottom: 1rem;
}

/* Estiliza los botones de copiar */
.btn-copy {
    margin-left: 1rem;
}

/* Asegura que las tarjetas ocupen todo el ancho en pantallas pequeñas */
@media (max-width: 576px) {
    .card-body {
        flex-direction: column;
        align-items: flex-start;
    }

    .btn-outline-primary {
        margin-top: 10px;
    }
}

/* Añadir estilos adicionales para mejorar la visibilidad */
#sugerencias .card {
    width: 100%;
}

@media (min-width: 768px) {
    #sugerencias .card {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}
